:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-v-dark-gray: hsl(0, 0%, 41%);
  --ff-alata: "Alata", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: var(--ff-alata);
  font-weight: 400;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-josefin);
  font-weight: 300;
}

img {
  width: 100%;
}

section h2 {
  padding: 5rem 0 1.5rem;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
}

section p {
  text-align: center;
  color: var(--color-dark-gray);
  line-height: 1.7;
  width: clamp(70%, 84%, 84%);
  margin: 0 auto 8.5rem;
}

section h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.2rem;
  margin-bottom: 5rem;
}

.creations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: relative;
  background: var(--color-black);
  color: var(--color-dark-gray);
  height: 49rem;
}

footer nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 33rem;
  justify-content: space-evenly;
}

footer img {
  width: auto;
}

.footer-logo {
  width: 15rem;
  padding: 3.5rem 0 1rem;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 10rem 1.5rem;
}

.footer-social a {
  padding: 0 0.8rem;
}

.hero-container {
  position: relative;
  height: 88.5vmax;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* A fallback for safari browsers with the "background-attachment fixed" bug */

@media not all and (min-resolution: 0.001dpcm) {
  .hero-container {
    background-attachment: scroll;
  }
}

.hero-container h1 {
  position: absolute;
  top: 34.3%;
  padding: 6.1% 6.1% 3.5%;
  width: 88%;
  border: 3px solid var(--color-white);
  color: var(--color-white);
  font-size: 10.7vw;
  text-transform: uppercase;
  line-height: 0.98;
}

.nav-logo {
  position: absolute;
  width: 15rem;
  top: 3.7rem;
  left: 2.4rem;
  z-index: 10;
}

.creations-wrapper {
  position: relative;
  margin-bottom: 2.5rem;
}

.creations-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.522), transparent);
}

.creations-wrapper img {
  display: block;
}

.creations-wrapper h4 {
  position: absolute;
  top: 44.9%;
  left: 5%;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 13rem;
  z-index: 10;
}

.the-grid {
  width: 11rem;
  display: inline-block;
}

.container {
  padding: 9.6rem 2.4rem;
}

.main-nav {
  position: relative;
  z-index: 10;
}

.nav-list {
  position: absolute;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 19px;
  left: 25%;
  right: 25%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hamburger {
    position: absolute;
    top: 4.2rem;
    right: 2.5rem;
    background: none;
    border: none;
    z-index: 10;
  }

  .close-button {
    display: none;
  }

  .ham-button {
    display: none;
  }

  .displayed {
    display: inline-block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    background: black;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    transform: translateY(-100%);
    transition: 0.5s;
  }

  .nav-list li {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    margin: 1.2rem 0;
    list-style: none;
    font-size: 2.5rem;
  }

  .show-nav {
    transform: translateY(0);
    transition: 0.5s;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .button-mobile {
    width: 15.7rem;
    height: 4rem;
    margin-top: 1rem;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    font-family: "Alata";
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
